.loginpage {
  width:100%;
  height: 100vh;
  background-color: #f8f9fd;
}

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: rgba(0, 195, 255,0.3);
  border: 1px solid rgba(0, 195, 255,0.3);
  color: #0066ff;
  padding: 10px 20px;
  
}

button[type="submit"]:hover {
  background: rgba(0, 234, 255, 0.3);
}
.button-container {
  display: flex;
  justify-content: center;
  padding-left: 35px;
}

.screen{
  width:100%;
  height: 100vh;
  background-color: rgb(92, 92, 92);
  align-items: center;
  justify-content: center;
  padding-left: 83vh;
  padding-top:30vh;
  position:static;
}
.imgstyle{
  width:100%;
  height: 100vh;
  position:absolute;
  z-index:0;
  top:93.4vh;
  left:0vh;
}

.login-form {
  height: 45vh;
  width: 45vh;
  background-color: rgba(255, 253, 253, 0.7);
  padding: 2rem;
  border-radius: 3vh; 
  position:absolute;
  z-index:1;
}

.form{
  display: flex;
  
}
.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  width: auto;
  padding-left: 95px;
  color: #0066ff;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
  width: auto;
  padding-left: 25px;
}
.name{
  padding-left: 60px;
  color: #0066ff;
}
.enterbar{
  background-color: rgba(0, 195, 255,0.3);
  border-radius: 1vh; 
}


@media screen and (min-width: 768px) {
  .header {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .headerAvatar {
     width: 14rem;
     height: 14rem;
   }
   
   .headerTitle {
     font-size: 3em;
     text-transform: uppercase;
     font-weight: 200;
   }
   
   .slogan {
     font-size: 1.75em;
     text-transform: uppercase;
     margin: 0;
   }
}