.header {
    background-color: #6cace4;
    height: auto;
    color: #fff;
    font-size: 0.8rem;
    display: flex;
  }
  
  @media screen and (min-width: 768px) {
    .header {
      font-size: 1rem;
    }
  }
  
  .avatar {
    width: 10rem;
    height: 10rem;
  }
  
  .headerTitle {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 200;
  }

  .headerSlogan {
    font-size: 1.25em;
    text-transform: uppercase;
    margin: 0;
  }
  .headerpic{
    width: 1rem;
    height: 1rem;
  }
  @media screen and (min-width: 768px) {
     .headerAvatar {
        width: 14rem;
        height: 14rem;
      }
      
      .headerTitle {
        font-size: 3em;
        text-transform: uppercase;
        font-weight: 200;
      }
      
      .slogan {
        font-size: 1.75em;
        text-transform: uppercase;
        margin: 0;
      }
   }