.nav{
  position: fixed;
  z-index: 2;
}
.navbar{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.menu-toggle{
  cursor: pointer;
}
.nav-overlay{
  position: fixed;
  background: #18181c;
  z-index: -2;
  top:-100%;
  left:0;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  padding: 4em;
  transition: all 2s cubic-bezier(0 16, 1 , 0.3, 1);
}
.hambox{
  position: relative;
  width: 44px;
  height: 44px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s ease;
  padding: 2.4em;
}
.hambox:hover{
  background: #2a2a2f;
}
.hamboxOpen{
  background: #2a2a2f;
}
.linetop,.linebottom{
margin:0 auto;
position: absolute;
display: block;
width: 24px;
height:2px;
border-radius: 10px;
background: rgba(255, 255, 255, 0.5);
left: 0;
right: 0;
transform: rotate(0deg);
transition: all 0.4s;
}
.linetop{
  top: 2.2em;
}
.linebottom{
  bottom: 2.2em;
}
.linetop.spin{
  top: 2.35em;
  transform: rotate(135deg);
  background: #fff;
}
.linebottom.spin{
  bottom: 2.35em;
  transform: rotate(225deg);
  background: #fff;
}

