

.footerAbove {
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: #2d659278;
  color: white;
  margin: 0;
  height:200px
}

.footerDescription {
  font-size: 1.3rem;
  margin-left: 8%;
  padding: 0 30px;
  line-height: 40px;
  text-align: center;
  align-self: center;
  font-weight: 650;
}

.footerlist {
  padding: 0 auto;
  padding-left: 0 !important; 
  display: flex;
  justify-content: center;
}
.footerlist2 {
 
  
  display: flex;
  
}

.footerItem {
  list-style: none;
  color: white;
}
.footerabout{
    margin-bottom:0;
    font-size: 15px;
    text-indent: 0.5rem;
    line-height: 1.5rem;
    font-weight:700;
    color: white;
   



}
.footerlink1 {
  color: white;
  text-decoration: none;
  display: block;
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  border-radius: 60%;
  text-align: center;
  
}
.footerlink2 {
  color: white;
  text-decoration: none;
  display: block;
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  border-radius: 60%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.footerlink3{
  color: white;
  text-decoration: none;
  display: block;
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  border-radius: 60%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.footerlink:hover {
  background-color: #fff;
  color: #2c3e50;
}

@media screen and (min-width: 768px) {
  .footerDescription {
    padding: 0px;
    text-align: justify;
  }
  .footerAbove {
    
  }
}

@media screen and (min-width: 992px) {

  .footerlist1 {
    justify-content: flex-end;
  }
  .footerItem {
    margin-right: 0;
    margin-left: 20px;
  }
}

.footerBelow {
  background-color: #233140;
  color: white;
  padding: 25px 0;
  font-size: 1.5rem;
  text-align: center;
}
