/* .animate{
  width: 100%;
  height: 250vh;


} */
.loginForm {
  padding: 1rem;
  max-width: 20rem;
}

.loginForm__forgot {
  float: right;
}

.loginForm__forgot {
  float: left;
}

.loginForm__button {
  width: 100%;
}

.loginForm__successWrap {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.7rem;
  width: 80%;
  border: solid 1px green;
  border-radius: 4px;
}

.loginForm__successTitle {
  color: green;
  text-align: center;
}

.loginForm__errorWrap {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.7rem;
  width: 80%;
  border: solid 1px darkred;
  border-radius: 4px;
}

.loginForm__errorTitle {
  color: darkred;
}

.loginForm__errorMessage {
  padding-top: 0;
  margin-top: 0;
  font-size: 0.5rem;
}
/* .loginpage {
  width:100%;
  height: 100vh;
  background-color: #f8f9fd;
}

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: rgba(0, 195, 255,0.3);
  border: 1px solid rgba(0, 195, 255,0.3);
  color: #0066ff;
  padding: 10px 20px;
  
}

button[type="submit"]:hover {
  background: rgba(0, 234, 255, 0.3);
}
.button-container {
  display: flex;
  justify-content: center;
}

.screen{
  width:100%;
  height: 100vh;
  background-color: rgb(92, 92, 92);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 83vh;
  padding-top:30vh;
  padding-left: 0;
  background: url(../images/dogsky.gif)no-repeat;
  background-size: cover;
  position: static;
  z-index:0;
}

.login-form {
  height: 45vh;
  width: 45vh;
  background-color: rgba(255, 253, 253, 0.7);
  padding: 2rem;
  border-radius: 3vh; 
  justify-content: center;
  align-items: center;
  text-align: center;
 
  z-index:1;
  
}

.form{
  display: flex;
  margin-left: 0;
  
}
.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  width: auto;
  
  color: #0066ff;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
  width: auto;
}
.name{
  
  color: #0066ff;
}
.enterbar{
  background-color: rgba(0, 195, 255,0.3);
  border-radius: 1vh; 
}

@media screen and (min-width: 768px) {
  .screen{
    padding-left: 70vh;
    
    

  } 
   .login-form{
    margin: 0 10vw 0 0;
    
  }
  
} */